@model IEnumerable<Grade>
@foreach (var grade in Model) {
    <div class="border border-2 border-dark m-2">
        <div class="p-2">
            <p>@grade.Student.FirstName @grade.Student.LastName</p>
            <p>@grade.Subject.Name, @grade.What: @grade.Mark </p>
            <p>@grade.Date.ToShortDateString()</p>
            <a class="btn btn-warning" asp-action="Edit" asp-route-id=@grade.Id>Edit</a>
            <a class="btn btn-danger" asp-action="Delete" asp-route-id=@grade.Id>Delete</a>
        </div>
    </div>
}
    <div>
        <a class="btn btn-success m-2" asp-action="Create">Create record</a>
    </div>
